services:
  frontend:
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: development
    ports:
      - "5174:5174"
    volumes:
      - ./frontend:/app
      # Use a named volume for node_modules so it doesn't get overwritten by the bind mount
      - frontend_node_modules:/app/node_modules
    command: bun run dev

volumes:
  frontend_node_modules:
