services:
  frontend:
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: development
    ports:
      - "5174:5174"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: bun run dev
